---
layout: layouts/base.njk
title: picjs Documentation
description: picjs constraint-based drawing and animation language
permalink: /
---
<div class="container-fluid mt-3">
<main class="row">
<div class="col-md-8 offset-md-2 p-3 p-md-5">
<h1>picjs</h1>
<p class="lead">A constraint-based drawing and animation language.</p>
<ul>
<li><a href="/guide/">The picjs Guide</a></li>
<li><a href="/picjs-reference/">Language Reference</a></li>
<li><a href="/quick-reference/">Quick Reference</a></li>
<li><a href="/hanoi-breakdown/">Hanoi Tower Breakdown</a></li>
</ul>
</div>
</main>
</div>
