<footer class="border-top p-1 text-center"><small>{{metadata.title}} &copy; {{metadata.author.name}}</small></footer>{%- js %}{% include "public/js/index.js" %}{% endjs%}<script>{% getBundle "js" %}</script></body></html>